<!DOCTYPE html>
<html>
    <head>
        <title>Le musée du Louvre</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<!-- Favicon -->
		<link rel="icon" href="https://img.icons8.com/ios/50/000000/louvre-pyramid-filled.png">
	
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
