{% extends 'base.html.twig' %}

{% block title %}Musée du Louvre - Conditions générales de vente{% endblock %}
{% block description %}{% endblock %}


{% block body %}
    {% include 'parts/header.html.twig' %}
    {% include 'parts/jumbotron.html.twig' with {'pagetitle': 'Conditions générales de vente'} %}


    <div class="container infos">
        <div class="row">
            {% include 'parts/column.html.twig' %}
            <div class="col-md-8 order-md-1">
                <h3>Accès au service</h3>
                <hr class="mb-4">
                <p class="small text-muted">
                    Les conditions générales de vente décrites ci-après détaillent les droits et obligations de la société ... (dénomination sociale) et de son client dans le cadre de la vente des marchandises suivantes : ... (le vendeur doit recenser les marchandises soumises aux CGV).
                    Toute prestation accomplie par la société ... Le musée du Louvre implique donc l'adhésion sans réserve de l'acheteur aux présentes conditions générales de vente.
                </p>
                <h3 class="mt-4">Prix</h3>
                <hr class="mb-4">
                <p class="small text-muted">
                    Les prix des marchandises vendues sont ceux en vigueur au jour de la prise de commande. Ils sont libellés en euros et calculés hors taxes. Par voie de conséquence, ils seront majorés du taux de TVA et des frais de transport applicables au jour de la commande.
                    La société ... Le musée du Louvre s'accorde le droit de modifier ses tarifs à tout moment. Toutefois, elle s'engage à facturer les marchandises commandées aux prix indiqués lors de l'enregistrement de la commande.
                </p>
                <h3 class="mt-4">Rabais et ristournes</h3>
                <hr class="mb-4">
                <p class="small text-muted">
                    Les tarifs proposés comprennent les rabais et ristournes que la société ... Le musée du Louvre serait amenée à octroyer compte tenu de ses résultats ou de la prise en charge par l'acheteur de certaines prestations.
                </p>
                <h3 class="mt-4">Escompte</h3>
                <hr class="mb-4">
                <p class="small text-muted">
                    Aucun escompte ne sera consenti en cas de paiement anticipé.
                </p>
                <h3 class="mt-4">Modalités de paiement</h3>
                <hr class="mb-4">
                <p class="small text-muted">
                    Le règlement des commandes s'effectue :<br><br>

                    Paiement uniquement par carte bancaire ( Visa, MasterCard, Visa Electron, American Express )<br>
                    Les autres moyens de paiement acceptés sont disponibles en contactant le support.<br><br>
                    Lors de l'enregistrement de la commande, l'acheteur se doit de régler le montant global de la facture, le/les produit(s) sont envoyés dès réception du paiement.
                </p>
                <h3 class="mt-4">Force majeure</h3>
                <hr class="mb-4">
                <p class="small text-muted">
                    Le musée du Louvre ne pourra pas être mise en oeuvre si la non-exécution ou le retard dans l'exécution de l'une de ses obligations décrites dans les présentes conditions générales de vente découle d'un cas de force majeure. À ce titre, la force majeure s'entend de tout événement extérieur, imprévisible et irrésistible au sens de l'article 1148 du Code civil.
                </p>
                <h3 class="mt-4">Tribunal compétent</h3>
                <hr class="mb-4">
                <p class="small text-muted">
                    Tout litige relatif à l'interprétation et à l'exécution des présentes conditions générales de vente est soumis au droit français.
                </p>
            </div>
        </div>
    </div>
    {% include 'parts/footer.html.twig' %}

{% endblock %}