{% extends 'base.html.twig' %}

{% block title %}{{ 'titleWelcomeLouvre'|trans }}{% endblock %}



{% block body %}
<div class="background">
    </br>
        <div class="container pb-2 pr-2 pl-2">
        </br>
            <h1 class="text-center">{{ 'Bienvenue à la billetterie du louvre'|trans }}</h1>
            <hr> 
          
            <p class="hometext">Bienvenue sur le site officiel de vente en ligne du Louvre
										Exposition Royaumes oubliés. De l'empire hittite aux Araméens.
										Du 2 mai 2019 au 12 août 2019
										Réservation recommandée.</p>

            
            </br>
            <div class="container text-center">
                <a href="{{path('booking') }}" class="btn blue">{{"Billetterie"|trans}}</a>
            </div>
        </br>
        </br>
        </div>
</div>

{% endblock %}