a {
    color: #0a6ebd;
    text-shadow: 1px 1px 1px white
}

body {
    color: white;
}

h1 {
    color: #ffffff;

}

h2, h3, h4 {
    color: white;
    text-transform: none;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 10;
    border-top: 1px solid white;
}

.background {
    background-image: url('../image/pyramide2.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.background-payment {
    background-color: #343a40;
    padding: 4rem;
    text-align: center;
}

.black {
    color: white;
    font-weight:bold;
    text-align:center;
    background-color: #CE3333;
}

.blue {
    background-color: #0a6ebd;
    color: white;
}

.blockticket {
    background-color: !important;
}

.btn {
    text-shadow: 0px 0px 0px;
}

.col-form-label {
    display: none;
}

.container1 {
    background-color: blue;
    }

.form-control {
    background-color: #eceeef
}
.hometext {
    color: #ffffff!important;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.jumbotron {
    color: #0a6ebd;
    background-color: #ffffff!important;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .forpayment {
    background-color: #0a6ebd;
    margin-top: 4rem;
    padding: 2rem;
    text-align: left;
 }
 .StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }