{% extends 'base.html.twig' %}

{% block title %}Page d'accueil!{% endblock %}

{% block head%}
    <img src="{{ asset ('images/bg.jpg')}}"  class="d-block mx-auto img-fluid" max-width="100%" height=auto">  
{%endblock%}

{% block body %}
  <div class="background">
    <div class="example-wrapper">
        <h1>Exposition Royaumes oubliés. De l'empire hittite aux Araméens.
										Du 2 mai 2019 au 12 août 2019
										Réservation recommandée.</h1>
        <br><br>

      <div class="card-deck mb-4 text-center">
          <div class="card mb-4 box-shadow rounded">

               <a class="btn btn-primary" href={{ path('reservation') }} >Réservez</a>
             </div>

      </div>
    </div>
  </div>            
{% endblock %}