{% extends 'base.html.twig' %}

{% block title %}Page d'accueil!{% endblock %}

{% block head%}

{%endblock%}

{% block body %}
  <div class="background">
    <div class="example-wrapper">
        <h1>Exposition Royaumes oubliés. De l'empire hittite aux Araméens.
										Du 2 mai 2019 au 12 août 2019
										Réservation recommandée.</h1>
        <br><br>

      <div class="card-deck mb-4 text-center">
          <div class="card mb-4 box-shadow rounded">
             <div class="card-header bg-info">
               <h4 class="my-0 font-weight-normal text-white">Accès à la billetterie</h4>
             </div>
             <div class="card-body ">

               <a class="btn btn-primary" href={{ path('reservation') }} >Réservez</a>
             </div>
          </div>
      </div>
    </div>
  </div>            
{% endblock %}