<div class="col-md-4 order-md-2 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Vos billets</span>
        <span class="badge badge-secondary badge-pill">3</span>
    </h4>
    <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
                <h6 class="my-0">Guillaume Garcia</h6>
                <small class="text-muted">Billet 18-25 ans</small>
            </div>
            <span class="text-muted">25€</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
                <h6 class="my-0">Nicolas Bléhaut</h6>
                <small class="text-muted">Billet -12 ans</small>
            </div>
            <span class="text-muted">15€</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
                <h6 class="my-0">Third item</h6>
                <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span>Total (EUR)</span>
            <strong>$20</strong>
        </li>
    </ul>
</div>