<div class="col-md-4 order-md-2 mb-4">
    <div class="alert alert-warning" role="alert">
        Tarif réduit pour les étudiants, les employés du musée, les membres du service du Ministère de la Culture ainsi que les militaires. Document justificatif à fournir pour l'entrée dans le musée.
    </div>
</div>